title: Anissa Alexander
email: 
description: >- # this means to ignore newlines until "baseurl:"; YAML block Indentation and Block Chomping Indicator
  This is a repository of work that I am interested in and want to share with the world at large.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://anissa-alexander.me" # the base hostname & protocol for your site, e.g. http://example.com

# Build settings
remote_theme: daviddarnes/alembic@main
plugins:
  - jekyll-feed
  - jekyll-remote-theme

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
