---
title: false
styles: true
---

@import "alembic";

.feature {
    padding-bottom: 0.4rem;
    margin-bottom: 1.6rem;
    text-align: center;
    background: #f9fafa;
    background-size: contain;
    background-position: center;
    background-repeat:no-repeat;
}